@import url("./shared/navbar.css");
@import url("./shared/footer.css");
@import url("./shared/scrollbar.css");
@import url("./shared/html.css");
@import url("./shared/404.css");

body {
  margin-top: 100px;
}

#to_top {
  width: 100px;
  height: 50px;
  background: rgba(0, 0, 0, 0.314);
  backdrop-filter: blur(4px);
  border-radius: 6px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: all 0.2s linear;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
#to_top:hover {
  scale: 1.08;
  transition: all 0.2s linear;
  cursor: pointer;
}

#filter {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#topr {
  padding: 1rem;
}
#worstr {
  padding: 1rem;
}

#form {
  width: 90vw;
  height: 15vh;
  background-color: rgb(58, 56, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#form input {
  width: 40%;
  padding: 1rem;
}

#genres {
  padding: 1rem;
}

#genres option {
  height: 50px;
}

#movies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#view {
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 150px;
  height: 70px;
}
.card {
  border-radius: 6px;
  width: 20vw;
  min-width: 200px;
  height: fit-content;
  padding: 0;
  transition: all 200ms linear;
  position: relative;
}
.card:hover {
  scale: 1.04;
  transition: all 200ms linear;
}

.card > p {
  overflow-y: hidden;
  height: 200px;
}

.card > img {
  border-radius: 6px;
  width: 100%;
}

.rating {
  background-color: rgb(39, 177, 39);
  color: black;
  position: absolute;
  top: 15px;
  left: 15px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
