@import url("./shared/navbar.css");
@import url("./shared/footer.css");
@import url("./shared/scrollbar.css");
@import url("./shared/html.css");
@import url("./shared/404.css");

.header_image {
  height: 40vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header_image_title {
  color: rgb(255, 255, 255);
  font-weight: 400;
  z-index: 10;
  align-self: flex-end;
  margin-bottom: 120px;
}

.frontdrop {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60%;
  background: rgb(36, 36, 36);
  background: linear-gradient(
    0deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(36, 36, 36, 0.6559816162793243) 52%,
    rgba(36, 36, 36, 0) 100%
  );
}
.fbtn {
  height: 60px;
  width: 60px;
  margin-right: 100px;
  border-radius: 50%;
  background-color: #ffffff1b;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  font-size: x-large;
  transition: all 200ms linear;
}
.bbtn {
  height: 60px;
  width: 60px;
  margin-left: 100px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff1b;
  backdrop-filter: blur(20px);
  font-size: x-large;
  transition: all 200ms linear;
}
.bbtn:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 200ms linear;
}
.fbtn:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 200ms linear;
}
.movie_list {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.movie_row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 1rem;
  gap: 2rem;
  height: 330px;
  max-width: 1080px;
}

.card {
  border-radius: 6px;
  width: 20vw;
  min-width: 200px;
  height: fit-content;
  padding: 0;
  transition: all 200ms linear;
}
.card:hover {
  scale: 1.04;
  transition: all 200ms linear;
}

.card > p {
  overflow-y: hidden;
  height: 200px;
}

.card > img {
  border-radius: 6px;
  width: 100%;
}

footer {
  height: 300px;
}
