a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

li {
  list-style: none;
}

.navbar {
  z-index: 999;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  margin: 0;
  width: 100vw;
  top: 0px;
  background: rgba(0, 0, 0, 0.314);

  backdrop-filter: blur(4px);
}
.navbar form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#dropdown_search {
  display: none;
  position: absolute;
  flex-direction: column;
  height: auto;
  gap: 5px;
  max-height: 400px;
  overflow-y: scroll;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.614);
  top: 40px;
  z-index: 10;
}

.search_card {
  height: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search_card img {
  height: 100px;
  width: 60px;
  justify-self: start;
}

.search_card p {
  justify-self: center;
  overflow-x: hidden;
}

.navbar form input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  padding: 5px;
  background: rgba(0, 0, 0, 0.614);

  width: 300px;
  height: 25px;
}
.navbar form button {
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 70px;
  height: 34px;
  border-left: 1px solid rgba(255, 255, 255, 0.482);
  background: rgba(0, 0, 0, 0.614);
}
